/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/09/2018, 20:15:02
    Author     : 26142529
*/
img{
    width: 63px;
    left: 63px;
    top: 63px;
    float: left;
    margin-right: 10px;
    margin-top: 7px;
    
   
        
}
.fiel1{
    background-color: green;
    font-size: 23px;
    margin-left: 20px;
    margin-right: 20px;
    height: 75px;
    
    
}

.fiel2{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    background-color:bisque;
    height: 80px;
}

.fiel3{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    background-color:bisque;
    height: 80px;
}
h3{
    margin-top: 5px;
    margin-left: 20px;
    color: red;
    margin-bottom: 1px;    
}
h5{
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 7px;
}

h6{
    margin-left: 20px;
    margin-top: 2px;
    color:darkgrey;
    margin-bottom: 5px;
}

.fiel4{
    background-color: green;
    margin-top: 20px;
    font-size: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    height: 55px;
    
}
h2{
    margin-top: 7px;
    margin-bottom: 5px;
}
